@import './vars.scss';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @font-face {
    font-family: 'Ysabeau';
    src: local('Ysabeau'),
    url(../assets/fonts/YsabeauInfant-VariableFont_wght.ttf) format('truetype');
  }
}

body {
  font-family: 'Ysabeau';
  text-rendering: optimizeLegibility;
  scrollbar-width: thin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  &::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(0,0,0,0.4);
  }
}

a {
  text-transform: uppercase;
  font-weight: bold;
  color: $gray;
  transition: color 255ms;
  
  &.router-link-exact-active {
    color: $blue;
  }
}

.container {
  padding: 12px 36px;
  width: 100%;
  min-height: calc(100vh - $headerHeight);
  background-color: #fafafa;
  
}